{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="web">
	<meta name="author" content="zhouyang">
	<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
	<title></title>
	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
    <div class="container-narrow">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li {% ifequal current_page 'home' %}class="active"{% endifequal %}>
          	<a href="{% url 'home' %}">Home</a>
          </li>
          <li {% ifequal current_page 'create_post' %}class="active"{% endifequal %}>
          	<a href="{% url 'create_post_view' %}">Post</a>
          </li>
	      {% if request.user.is_authenticated %}
	      <li {% ifequal current_page 'settings_view' %}class="active"{% endifequal %}>
	      	<a href="{% url 'settings_view' %}">settings</a>
	      </li>
	      <li><a href="{% url 'logout_view' %}?next={{ request.path }}">logout</a></li>
	      {% else %}
		  <li><a href="{% url 'login_view' %}">login</a></li>
	      {% endif %}
        </ul>
        <h3 class="muted">Smartcode</h3>
      </div>

      <hr>

      <div class="content">
        {% block content %}
        {% endblock %}
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="span6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block extra_js %}
{% endblock %}
</body>
</html>