{% extends 'base.html'%}
{% load i18n %} 
{% block menutab %}
<div class="menutab"><a href="/">{% trans 'All topic' %}</a></div>
<div class="menutab"><a href="/member/">{% trans 'My home page' %}</a></div>
<div class="menutab currenttab"><a href="/mail/inbox/">{% trans 'Inbox' %}</a></div>
<div class="menutab"><a href="/mail/sendbox/">{% trans 'Sendbox' %}</a></div>
{% endblock %}
{% block main %}


<div id="MailBoxWrap">
	{% for mail in object_list %}
	<div class="mail-wrap {% cycle odd,even %}">
		<div class="mail-meta">
			<div class="mail-sender">
				<div class="sender-name">
					<span>{% trans 'From' %} : <a href="/member/{{ mail.user.username}}">{{ mail.user.get_profile.nickname }}</a></span>
				</div>
				<div class="sender-protrait">
					<a href="/member/{{ mail.user.username}}">
						<img class="box-shadow small-protrait" src="{{mail.user.get_profile.gen_protrait}}" width="15" height="15" />
					</a>
				</div>
			</div>
			<div class="mail-datetime">{% trans 'Posted time' %} : {{ mail.created|date:"Y-m-d H:i:s"}}</div>
			<div class="mail-control">
				<a href="/mail/mailto/{{mail.user.id}}/" title="{% trans 'Reply mail' %}"><span class="mail-reply-btn"></span></a>
				<a href="/mail/generic/delete/{{mail.id}}/" title="{% trans 'Delete mail' %}"><span class="mail-delete-btn"></span></a>
			</div>
			<div class="clearblank"></div>
		</div>
		<div class="mail-content-wrap">
			<div class="mail-content">
				{{ mail.content}}
			</div>
		</div>
	</div>
	{% empty %}
	<div class="no-topic">
		<h4>{% trans 'No mail received' %}</h4>
	</div>
	{% endfor %}
</div>

{% if paginator.count > paginator.per_page %}
<div class="pagination">
	<span class="step-links">
		{% if page_obj.has_previous %}
			<span class="prev round-corner-button"><a href="?page={{ page_obj.previous_page_number }}">{% trans 'PREV' %}</a></span>
		{% endif %}

		<span class="current round-corner-button">
			{% trans 'PAGE' %} {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
		</span>

		{% if page_obj.has_next %}
			<span class="next round-corner-button"><a href="?page={{ page_obj.next_page_number }}">{% trans 'NEXT' %}</a></span>
		{% endif %}
	</span>
</div>
{% endif %}

{% endblock %}