{% extends "base_one.html" %}
{% load i18n %}
{% block title %}Login in{% endblock %}

{% block main %}
<div id="UserFormWrap" >
  <div id="UserForm" class="drop-shadow">
  <h1>{% trans 'User Settings' %}</h1>
   <div id="ProfileBoxOne">
    <div id="Profile">
      <div id="ProfilePropraitOne">
        <div id="UserProprait">
          {% if user.get_profile.protrait %}<img class="box-shadow" src="{{ user.get_profile.protrait.url }}"/>{% endif %}
        </div>
      </div>
      <div id="ProfileInfoOne">
        <div class="profile-nickname-one">{% trans 'User Name' %}: {{user.username}}</div>
        <div class="profile-name-one">{% trans 'Nickname' %}: {{ user.get_profile.nickname }}</div>
        <div class="profile-last-one">{% trans 'Last time login' %}: <span>{{ user.last_login|date:"Y-m-d H:i:s" }}</span></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ info_form.as_p }}
	<p><input class="submit-button button orange" type="submit" value="{% trans 'Submit' %}"></p>
  </form>
  <h1>{% trans 'Microblog Sync' %}</h1>
  <div class="sync-oauth"><a href="/oauth/login/?port=douban&mode=login&turn=http://localohost:8000/">{% trans 'Douban login' %}</a></div>
  <div class="sync-oauth"><a href="/oauth/login/?port=tencent">{% trans 'Tencent login' %}</a></div>
  <div class="sync-oauth"><a href="/oauth/login/?port=sina">{% trans 'Sina login' %}</a></div>
  <h1>{% trans 'Change Password' %}</h1>
  <form method="post" action="">
  {% csrf_token %}
  {{password_form.as_p}}
  <p><input class="submit-button button orange" type="submit" value="{% trans 'Modify' %}"></p>
  </form>
  </div>
</div>
{% endblock %}