{% if logined %}
{% ifequal page_type 'index' %}
{% if user.get_profile %}
<div id="ProfileBox">
	<div id="Profile">
		<div id="ProfileProprait">
			<div id="UserProprait">
				<img class="box-shadow-dark" src="{{user.get_profile.gen_protrait}}" width="50" height="50"/>
			</div>
		</div>
		<div id="ProfileInfo">
			<div class="profile-nickname">{{user.username}}</div>
			<div class="profile-name">{{ user.get_profile.nickname }}</div>
			<div class="profile-last"><span>{{ user.last_login|date:"Y-m-d H:i:s" }}</span></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
{% endif %}
{% endifequal %}
{% endif %}

{% if logined %}
{% ifequal page_type 'self' %}
{% if user.get_profile %}
<div id="ProfileBox">
	<div id="Profile">
		<div id="ProfileProprait">
			<div id="UserProprait">
				<img class="box-shadow-dark" src="{{user.get_profile.gen_protrait}}" width="50" height="50"/>
			</div>
		</div>
		<div id="ProfileInfo">
			<div class="profile-nickname">{{user.username}}</div>
			<div class="profile-name">{{ user.get_profile.nickname }}</div>
			<div class="profile-last"><span>{{ user.last_login|date:"Y-m-d H:i:s" }}</span></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
{% endif %}
{% endifequal %}
{% endif %}

{% if logined %}
{% ifequal page_type 'member'%}
<div id="ProfileBox">
	<div id="Profile">
		<div id="ProfileProprait">
			<div id="UserProprait">
				<img class="box-shadow-dark" src="{{view_user.get_profile.gen_protrait}}" width="50" height="50"/>
			</div>
			<div id="UserFollow">
			<button id="FollowBtn" class="button {% ifequal is_followed 0 %}orange{% else %}green{% endifequal%}" type="button" value="{{ view_user.id }}">
			{% ifequal is_followed 0 %}关注他{% else %}已关注{% endifequal%}
			</button>
			<a href="/mail/mailto/{{ view_user.id }}/" id="FollowBtn" class="button red mailtobtn">写邮件</a>
			</div>
		</div>
		<div id="ProfileInfo">
			<div class="profile-nickname">{{view_user.username}}</div>
			<div class="profile-name">{{ nickname }}</div>
			<div class="profile-last"><span>{{ view_user.last_login|date:"Y-m-d H:i:s" }}</span></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
{% endifequal %}
{% endif %}

{% if logined %}
{% if followed %}
<div class="clearblank"></div>
<div class="member-box-wrap">
	<div class="member-box-title">
		<div class="member-box-text">关注的人</div>
	</div>
	<div class="member-box">
		<ul>
		{% for follow in followed %}
		<li>
			<a href="/member/{{follow.follower.username}}/" class="protrait"><img class="box-shadow" src="{{ follow.follower.get_profile.gen_protrait }}" width="40" height="40" /></a>
			<a href="/member/{{follow.follower.username}}/" class="member-nickname">{{ follow.follower.get_profile.nickname }}</a>
		</li>
		{% endfor %}
		</ul>
		<div class="clearfix"></div>
	</div>
</div>
{% endif %}
{% endif %}


{% if logined %}
{% if follower %}
<div class="clearblank"></div>
<div class="member-box-wrap">
	<div class="member-box-title">
		<div class="member-box-text">关注他的人</div>
	</div>
	<div class="member-box">
		<ul>
		{% for follow in follower %}
		<li>
			<a href="/member/{{follow.user.username}}/" class="protrait"><img class="box-shadow" src="{{ follow.user.get_profile.gen_protrait }}" width="40" height="40" /></a>
			<a href="/member/{{follow.user.username}}/" class="member-nickname">{{ follow.user.get_profile.nickname }}</a>
		</li>
		{% endfor %}
		</ul>
		<div class="clearfix"></div>
	</div>
</div>
{% endif %}
{% endif %}


{% if members %}
{% if logined %}
<div class="clearblank"></div>
{% endif %}
<div class="member-box-wrap">
	<div class="member-box-title">
		<div class="member-box-text">最近加入的用户</div>
	</div>
	<div class="member-box">
		<ul>
		{% for member in members %}
		<li>
			<a href="/member/{{member.gen_username}}/" class="protrait"><img class="box-shadow" src="{{ member.user.get_profile.gen_protrait }}" width="40" height="40" /></a>
			<a href="/member/{{member.gen_username}}/" class="member-nickname">{{ member.nickname }}</a>
		</li>
		{% endfor %}
		</ul>
		<div class="clearfix"></div>
	</div>
</div>
{% endif %}