@media (max-width: 979px) {

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }
}


@media (max-width: 767px) {

  .navbar-inner {
    margin: -20px;
  }

}